1. Print cookies and milk are a great dessert.

In [1]:
print("cookies and milk are a great dessert")

cookies and milk are a great dessert

2. Print out your favorite color and above the code comment out what you are doing.

In [2]:
#This code will print out my favorite color
fav_color = "green"
print(fav_color)

green

3. Print out your favority color again and add an in-line comment.

In [3]:
fav_color = "green" #This code will print out my favorite color
print(fav_color)

green

4. Print the sumation of numbers 1 to 10

In [6]:
#This code will print the summation of numbers from 1 to 10
sum = (1+2+3+4+5+6+7+8+9+10)
print(sum)

55

5. Print what 6 to the 7th power is.

In [7]:
#This code will print 6 to the 7th power
num = 6
calc = num**7
print(calc)

279936

6. Print the remainder of 100 divided by 11.

In [15]:
#This code will print the remainder of 100 divided by 11
num1 = 100
rem = num1%11
print("remainder of 100/11 is", rem)

remainder of 100/11 is 1

7. What is the result of "Python" + "1"

In [25]:
#This code will find the result of "Python" + 1
x="Python"
y="1"
print(x, y)

Python 1

8. Print out 100 divided by 5

In [27]:
#This code will print out 100 divided by 5
print (100/5)

20.0

9. What is the different between 10/4 and 10//4?  Print out the result

In [33]:
#This code will find the difference between 10/4 and 10//4
result1 = 10/4
result2 =10//4
print ("first result is a floating point value", result1)
print ("second result is an integer value", result2)

first result is a floating point value 2.5
second result is an integer value 2

10. Create a variable named foo that stores a string value.

In [34]:
foo = "A string value" # This code will create a variable name

11. Print foo variable

In [36]:
# This code will print the value of the variable
print(foo)

A string value

12. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.

In [45]:
# This code will create a height variable, store the value and print the sentence
height = "5ft 2in"
print("My height is", height)

My height is 5ft 2in

13. Use the last code, but now print it using a formatted string.

In [46]:
print(f"My height is", height)

My height is 5ft 2in

14. Concate two strings together using variables and print out the result

In [48]:
name1 = "Hello "
name2 = "World"
result = name1+name2
print(result)

Hello World

15. Use the two different quotes in a string and print out the sentence

In [49]:
message = "Hello World"
print(message)

Hello World

16. Print out Hello World! 7 times each on a new line using only one line of code.

In [52]:
print("Hello World "*7)

Hello World Hello World Hello World Hello World Hello World Hello World Hello World

17. What is the result of "apple" > "Apple"

In [53]:
print("apple" > "Apple")

True

18. Print out if 25 multiplied by 54 is bigger than 33 multipled by 33

In [54]:
result1 = 25*4
result2 = 33*33
print(result1>result2)

False

19. What is the result of of 123 == “123”?

In [55]:
print(123=="123")

False

20. Print out a boolean table for OR using two variables
(hint: use not operator)

In [66]:
a=5
b=8
print(a<5 or b<5)

False

In [1]:
a=5
b=8
print(not(a<5 and b<5))

True